<!DOCTYPE html>
<html>
<head>
	<title>About page</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
	<div class="main-content">

		{{>header}}
	<img class="portrait" src="/images/img1.jpg">
		
	</div>
	
		{{>footer}}
	
	
	
	
	
</body>
</html>