<!DOCTYPE html>
<html>
<head>
	<title>About page</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
	<div class="main-content">

		{{>header}}
		<p>Katherine Langford is an Australian actress. She starred as Hannah Baker in the first two seasons of the Netflix television series 13 Reasons Why from 2017 to 2018, for which she received a nomination for the Golden Globe Award for Best Actress. She also had supporting roles in the films Love, Simon and Knives Out.</p>

		<img class="portrait" src="/images/img1.jpg">
		
	</div>
	
		{{>footer}}
	
	
	
	
	
</body>
</html>