<!DOCTYPE html>
<html>
<head>
	<title>Web page</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
</head>
<body>
	<div class="main-content">

		{{>header}}

		<p>{{errormessage}} </p>
		
	</div>


		{{>footer}}
	
		
		
	
		
</body>
</html>